Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.pyc
*.idea
Config/DefaultEditorPerProjectUserSettings.ini
Content/Python/unreal.py
Secrets
Temp